* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: Inter, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
  font-size: 17px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

/*** HOME PAGE ***/
.home-container {
  /* background-image: url("/images/home-image-1.png"); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("/images/home-image-1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 23px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 30px;
  position: relative;
  top: -30px;
}

.home-container p {
  line-height: 30px;
  font-weight: 400;
  font-size: 1.25rem;
  position: relative;
  top: -10px;
}

.home-container a {
  display: inline-block;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: auto;
  max-width: 20%;
  min-width: 150px;
  width: 100%;
  /* Ensures it expands naturally */
  align-self: auto;
  margin-top: 200px;
  /* padding: 12px 20px; */
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
  box-sizing: border-box;
  position: relative;
  top: -50px;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-image {
  width: 100%;
  /* Ensures full width */
  max-width: 100%;
  /* Prevents overflow */
  height: auto;
  max-height: 500px;
  display: block;
  object-fit: cover;

}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  /* margin-inline: 20px; */
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .about-page-cta-link {
  background-color: #161616;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  padding: 12px 20px;
  transition: transform .1s ease-in-out;
  cursor: pointer;
  /* margin-bottom: 32px; */
}